@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1265px;
    margin: auto;
}

/* header section starts here */
#header-section {
    width: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(240, 100, 44, 1) 0%, rgba(215, 69, 14, 1) 100%);
    padding: 12.5px 0px;
}

.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.head-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.head-logo img {
    width: 14px;
}

.logo {
    font-size: 19px;
    font-weight: 400;
    line-height: 16px;
    color: #FFFFFF;
    font-family: "Outfit", serif;
}

.head-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.head-icon img {
    margin-right: 10px;
}

.head-icon h4 {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 16px;
    font-family: "Outfit", serif;
}

.head-icon h4 a {
    line-height: 16px;
}

/* header section ends here */
/* nav section starts here */
.navbar {
    width: 100%;
    height: auto;
    padding: 10px 0px;
    background: #ffff;
    position: relative;
}
.navbar.sticky{
    position: fixed;
    z-index: 999;
    width: 100%;
    border-bottom: 3px solid #bcbcc0;
    top: 0;
  }

.nav-menu {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 0.5fr 2fr;
    align-items: center;
    line-height: 20px;

}

.nav-items {
    display: flex;
    justify-content: end;
    align-items: center;

}


.nav-items ul li {

    display: inline;

}

.nav-items ul li a {

    color: #170F0C;
    font-weight: 400;
    font-size: 18px;
    font-family: "Montserrat", serif;
    margin-left: 30px;
}


.nav-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 15px;
    border-radius: 32px;
    border: 1px solid #F0642C;
    background-color: transparent;
    gap: 5px;
    line-height: 6px;
}

.dashboard-btn {


    font-size: 12px;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: #170F0C !important;
}

.nav-button {
    margin-left: 20px;

}

.nav-button2 {

    padding: 9px 18px;
    border-radius: 32px;
    border: none;
    background: linear-gradient(90deg, rgba(240, 100, 44, 1) 0%, rgba(215, 69, 14, 1) 100%);
    margin-left: 20px;

}

.grow-btn {

    font-size: 15px;
    font-family: "Montserrat", serif;
    font-weight: 500;
    color: #ffff !important;
}


.toggle span i {

    color: #F0642C;
    font-size: 30px;
    cursor: pointer;
    display: none;
}


.nav-items2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    max-width: 1440px;
    width: 80%;
    z-index: 999;
    background: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    display: none;
}

.toggle-close span i {

    color: #170F0C;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 5%;

}

.nav-items2 ul li a {

    color: #170F0C;
    font-weight: 400;
    font-size: 18px;
    font-family: "Montserrat", serif;
    line-height: 50px;

}


.nav-button3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 15px;
    border-radius: 32px;
    border: 1px solid #F0642C;
    background-color: transparent;
    gap: 5px;
    line-height: 6px;
}

.dashboard-btn2 {


    font-size: 12px;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: #170F0C !important;
}

.nav-button4 {

    padding: 9px 18px;
    border-radius: 32px;
    border: none;
    background: linear-gradient(90deg, rgba(240, 100, 44, 1) 0%, rgba(215, 69, 14, 1) 100%);
    margin: 15px 0px;

}

.grow-btn2 {

    font-size: 15px;
    font-family: "Montserrat", serif;
    font-weight: 500;
    color: #ffff !important;
}

/* nav section ends here */
/* banner section starts here*/
#banner-section {
    background: url('./images/banner_img.png') no-repeat center center/cover;
    width: 100%;
    height: 542px;
}

.banner-content {
    align-items: center;
    padding-top: 110px;
    text-align: center;
}

.banner-para {
    font-family: "Montserrat", serif;
    font-size: 22px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin: auto;
    padding-bottom: 20px;
}

.banner-head {
    font-family: "Montserrat", serif;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    width: 80%;
    margin: auto;
    padding-bottom: 25px;
    letter-spacing: 0.04em;
    font-weight: 600;
}

.header-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    align-items: center;
    width: 70%;
    gap: 10px;
    line-height: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 70%;
}

.search-bar input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 32px;
    font-size: 14px;
    outline: none;
    background-color: transparent;
    color: #FFFFFF;
    font-family: "Lexend Deca", serif;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
}

.search-bar ::placeholder {
    color: #FFFFFF;
}

.search-bar button {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: #FFFFFF66;
    border: none;
    padding: 7px;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 10px;
}

.search-bar button img {
    width: 17px;
    height: 16px;

}

.head-button2 {
    padding: 10px 20px;
    border: none;
    border-radius: 32px;
    font-size: 14px;
    outline: none;
    background: linear-gradient(90deg, rgba(240, 100, 44, 1) 0%, rgba(215, 69, 14, 1) 100%);
    color: #FFFFFF;
    font-family: "Lexend Deca", serif;
    font-weight: 300;
    line-height: 18px;
    text-align: left;
}

.head-button2:hover {
    cursor: pointer;
    transition: .3s ease;
}

.head-button2 span {
    padding-left: 20px;
}

.head-button2 span img {
    width: 14px;
}

/* banner section ends here*/
/* about section starts here*/
#about-section {
    width: 100%;
    height: auto;
    padding: 50px 0px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 20px 10px;
    position: relative;
}

.about-text {
    width: 50%;
    text-align: left;
}

.about-text h2 {
    font-family: "Montserrat", serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: #170F0C;
    margin-bottom: 15px;
}

.about-text h3 {
    font-family: "Montserrat", serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    color: #F0642C;
    margin-bottom: 20px;
}

.about-text h3 span {
    font-family: "Montserrat", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    color: #D7450E;
}

.about-text p {
    font-family: "Lexend Deca", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;

}

.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

.about-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.about-btn {
    margin-top: 30px;
    padding: 10px 25px;
    border: none;
    border-radius: 32px;
    font-size: 14px;
    outline: none;
    background: linear-gradient(90deg, rgba(240, 100, 44, 1) 0%, rgba(215, 69, 14, 1) 100%);
    color: #FFFFFF;
    font-family: "Montserrat", serif;
    font-weight: 600;
    line-height: 18px;
}

.about-btn:hover {
    cursor: pointer;
    transition: .3s ease;
}

.about-content::before {
    content: "";
    background: url(./images/about_before.png) no-repeat center center/contain;
    width: 167px;
    height: 117px;
    position: absolute;
    top: 90%;
    right: 94%;
    z-index: -1;
}

.about-content::after {
    content: "";
    background: url(./images/about_after.png) no-repeat center center/contain;
    width: 121px;
    height: 242px;
    position: absolute;
    top: 60%;
    left: 93%;
    z-index: -1;
}

/* about section ends here*/
/* service section starts here*/
#service-section {
    width: 100%;
    height: auto;
    margin: auto;
    background: url(./images/service_coverimg.png) no-repeat center center/cover;
}

.service-content {
    align-items: center;
    padding: 40px 0px;
    text-align: center;
}

.service-text h3 {
    font-family: "Montserrat", serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 42px;
    color: #F0642C;
    padding: 10px 0px;
}

.service-text p {
    font-family: "Montserrat", serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    color: #FFFFFF;
    width: 82%;
    text-align: center;
    margin: auto;
}

.service-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 45px;
    margin: auto;
}

.card {
    width: 32%;
    background-color: transparent;
    border: 3px dashed #F0642C;
    text-align: center;
    margin: auto;
}

.card img {
    width: 65px;
    height: auto;
    margin-top: 10px;
}

.card-content {
    padding: 10px 5px;
}

.card-title {
    font-family: "Montserrat", serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.card-text {
    font-family: "Lexend Deca", serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    color: #ffff;
}

/* service section ends here*/
/* category section starts here*/
#categories-section {
    width: 100%;
    height: auto;
    background: #FFFFFF;
}


.categories-content {
    align-items: center;
    padding: 50px 0px;
    text-align: center;
}


.categories-text h3 {
    font-family: "Montserrat", serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 42px;
    color: #F0642C;
    padding: 10px 0px;
}

.categories-text p {
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #424242;
    width: 82%;
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
}

.categories-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.cat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 35px;
    text-align: center;
    background-color: transparent;
    border: 3px dashed #F0642C;
    gap: 40px;
}

.cat-card img {
    width: 65px;
    height: auto;
    ;
}

.cat-card-title {
    font-family: "Montserrat", serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
}

.cat-btn {
    margin-top: 30px;
    padding: 10px 25px;
    border: none;
    border-radius: 32px;
    font-size: 14px;
    outline: none;
    background: linear-gradient(90deg, rgba(240, 100, 44, 1) 0%, rgba(215, 69, 14, 1) 100%);
    color: #FFFFFF;
    font-family: "Montserrat", serif;
    font-weight: 600;
    line-height: 18px;
}

.cat-btn:hover {
    cursor: pointer;
    transition: .3s ease;
}

/* category section ends here*/
/* number section starts here*/
#counter-section {
    height: auto;
    background: url(./images/number_img.png) no-repeat center center/cover;
    padding: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

}

.overlay {
    background: #0A090BCC;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

}

.counters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.counter h2 {

    color: #ffff;
    font-size: 95px;
    font-weight: 700;
    font-family: "Montserrat", serif;
    line-height: 108px;

}

.counter h3 {
    color: #ffff;
    font-size: 24px;
    font-weight: 400;
    font-family: "Montserrat", serif;
}

/* number section ends here*/
/* attorney section starts here*/
#attorney-section {
    width: 100%;
    height: auto;
    background: #FFFFFF;
}

.attorney-content {
    align-items: center;
    padding: 50px 0px;
    text-align: center;
}

.attorney-text h3 {
    font-family: "Montserrat", serif;
    font-size: 35px;
    font-weight: 600;
    line-height: 42px;
    color: #F0642C;
    padding: 10px 0px;
}

.attorney-text p {
    font-family: "Montserrat", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #424242;
    width: 82%;
    text-align: center;
    margin: auto;

}

.consultation {

    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.consultation-head h4 {
    font-size: 20px;
    font-weight: 500;
    color: #707070;
    font-family: "Montserrat", serif;
    text-align: center;
    border-right: 1px solid #707070;
    margin-bottom: 10px;
    margin-bottom: 20px;
    padding: 30px 0px;
}


.consultation-head:last-child h4 {
    border: none;
}

.consultation h3 {

    font-size: 24px;
    font-weight: 700;
    font-family: "Montserrat", serif;
    line-height: 30px;
    margin-bottom: 5px;
}


.consultation span {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins", serif;
    line-height: 22px;
    color: #F0642C;
}

.card-address {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.card-location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.card-location p {
    line-height: 20px;
    color: #424242;
    font-family: "Montserrat", serif;
    font-weight: 400px;
}

.view-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.attorney-btn {
    margin-top: 40px;
    padding: 10px 25px;
    border: none;
    border-radius: 32px;
    font-size: 14px;
    outline: none;
    background: linear-gradient(90deg, rgba(240, 100, 44, 1) 0%, rgba(215, 69, 14, 1) 100%);
    color: #FFFFFF;
    font-family: "Montserrat", serif;
    font-weight: 600;
    line-height: 18px;
}

.attorney-btn:hover {
    cursor: pointer;
    transition: .3s ease;
}


.connect-btn {
    margin-top: 10px;
    padding: 10px 25px;
    border: none;
    border-radius: 32px;
    font-size: 14px;
    outline: none;
    background: linear-gradient(90deg, rgba(240, 100, 44, 1) 0%, rgba(215, 69, 14, 1) 100%);
    color: #FFFFFF;
    font-family: "Montserrat", serif;
    font-weight: 600;
    line-height: 18px;
}

.connect-btn:hover {
    cursor: pointer;
    transition: .3s ease;
}

/* attorney section ends here*/















/*responsive starts here*/

@media(max-width:1273px) and (min-width:768px) {
    .head-content {
        width: 95%;
    }

    .categories-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: auto;
        width: 80%;
    }

    #counter-section {

        padding: 80px;
    }

    .counters {
        margin: 20px 30px auto;
    }

    .counter h2 {
        font-size: 65px;


    }

    .counter h3 {
        font-size: 14px;
    }

    .consultation {

        grid-template-columns: auto auto;
        justify-content: space-evenly;
        row-gap: 30px;

    }

    .consultation-head h4 {
        border-right: 1px solid #CFCFCF;
        border-left: 1px solid #CFCFCF;

    }

    .consultation-head:last-child h4 {
        border-right: 1px solid #CFCFCF;
        border-left: 1px solid #CFCFCF;
    }
    
   
}

@media(max-width:767px) and (min-width:320px) {
    .head-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        gap: 30px;
        width: 90%;
    }

    .logo {
        font-size: 14px;
    }

    .head-icon h4 {
        font-size: 16px;
    }

    .header-buttons {
        flex-direction: column;
        gap: 20px;
    }

    .search-bar {
        width: 100%;
    }

    .nav-items2 {

        width: 100%;
    }

    .about-text h2 {
        font-size: 22px;
        line-height: 28px;
    }

    .about-text h3 {
        font-size: 27px;
        line-height: 35px;
    }

    .about-text p {
        font-size: 15px;
        line-height: 22px;
    }

    .service-card {
        gap: 20px;
        flex-direction: column;
        margin: 0px 10px;
    }

    .service-text h3 {
        font-size: 27px;
        line-height: 35px;
    }

    .card {
        width: 80%;
    }

    .card-title {
        font-size: 18px;
        line-height: 24px;
    }

    .card-text {
        font-size: 15px;
        line-height: 20px;
    }

    .categories-card {
        grid-template-columns: unset;
        margin: auto;
        width: 80%;
    }

    .cat-card {
        padding: 45px 15px;
    }

    .cat-card-title {
        font-size: 25px;
        line-height: 32px;
    }

    #counter-section {

        padding: 290px 0px;
    }

    .counters {
        flex-direction: column;
        gap: 10px;
    }

    .counter h2 {
        font-size: 65px;


    }

    .counter h3 {
        font-size: 20px;
    }

    .consultation {

        grid-template-columns: unset;
        justify-content: center;
        gap: 20px;

    }

    .consultation-head h4 {
        border-right: 1px solid #CFCFCF;
        border-left: 1px solid #CFCFCF;

    }

    .consultation-head:last-child h4 {
        border-right: 1px solid #CFCFCF;
        border-left: 1px solid #CFCFCF;
    }
     
}

@media(max-width:880px) and (min-width:611px) {
    #banner-section {
        background-position: top left 0%;
    }

    .banner-head {
        font-size: 45px;
        line-height: 60px;
        width: 80%;
    }

}

@media(max-width:610px) and (min-width:320px) {
    #banner-section {
        background-position: top left 15%;
    }

    .banner-head {
        font-size: 36px;
        line-height: 43px;
    }

    .banner-para {
        font-size: 18px;
        line-height: 25px;
    }
}

@media(max-width:1328px) and (min-width:320px) {
    .about-content::before {
        display: none;
    }

    .about-content::after {
        display: none;
    }

}

@media(max-width:1149px) and (min-width:320px) {
    .about-content {
        flex-direction: column;
        gap: 30px
    }

    .about-text {
        width: 90%;
    }
}

@media(max-width:1100px) and (min-width:768px) {
    .service-card {
        gap: 20px;
        margin: 0px 20px;
    }
}

@media (max-width:1275px) and (min-width:320px) {
    .nav-items ul li a {

        display: none;
    }

    .toggle span i {

        display: flex;
    }

    .nav-menu {
        width: 95%;
        margin: auto;
    }

    .nav-button {
        display: none;

    }

    .nav-button2 {
        display: none;
    }

}

@media(max-width:375px) {
    .nav-menu {
        grid-template-columns: 1fr 1fr;
    }

    .logo img {
        width: 100%;
    }

}
